# Ignore all env files
**/.env

# Ignore all node_modules folders
**/node_modules

# Logs
*.log

# skip all config folders
**/config/

# exclude DS_Store or system files
.DS_Store

# skip dist folder
frontend/dist